.main{
  display: flex;
}

.products__wrapper{
  display: flex;
  justify-content: space-between;

}

.products__btn{
  width: 30%;
  height: 30%;
}

.products__btn img{
  width: 100%;
  object-fit: cover;
}

.visualizations{
  position: relative;
  width: 60%;
}

.visualizations__img{
  width: 60%;
}

.visualizations__joke{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}